<form (ngSubmit)="onSubmit($event);" fxLayout="column" [formGroup]="cartControl">
	<mat-list dense formArrayName="cartItems">
		<mat-list-item *ngFor="let cartItem of cartItems.controls; let i = index" [formGroupName]="i">
			<mat-form-field>
				<input matInput type="text" FormControlName="name" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" FormControlName="amount" placeholder="Amount:" />
			</mat-form-field>
			<button type="button" mat-button (click)="changeAmount(i, -1);">
				<mat-icon>remove</mat-icon>
			</button>
			<button type="button" mat-button (click)="changeAmount(i, +1);">
				<mat-icon>add</mat-icon>
			</button>
			<button type="button" mat-button (click)="removeItem(i);">
				<mat-icon>delete_forever</mat-icon>
			</button>
		</mat-list-item>
	</mat-list>
	<button type="submit" mat-raised-button fxFill>
		<mat-icon>payment</mat-icon>
	</button>
</form>
