<div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
	<mat-card fxFlexOrder="1" fxFlex>
		<mat-card-header>
			<mat-card-title>Register Here:</mat-card-title>
			<mat-card-subtitle>Step 1</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="registerControl">
				<mat-form-field fxFill>
					<input type="text" matInput placeholder="Username:" formControlName="username" />
				</mat-form-field>
				<mat-form-field fxFill>
					<input type="email" matInput placeholder="Email:" formControlName="email" />
					<mat-error *ngIf="!registerControl.controls.email.valid">
						A valid e-mail is <strong>required</strong>.
					</mat-error>
				</mat-form-field>
				<mat-form-field fxFill>
					<input type="password" #pwd matInput placeholder="Password:"
						formControlName="password" />
				</mat-form-field>
				<mat-form-field fxFill>
					<input type="password" #pwd2 matInput placeholder="Confirm Password:"
						formControlName="password2" />
					<mat-error *ngIf="!registerControl.controls.password2.notEquivalent">
						The two passwords must be <strong>identical</strong>.
					</mat-error>
				</mat-form-field>
			</form>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlexOrder="2" fxFlex>
		<mat-card-header>
			<mat-card-title>And now Here:</mat-card-title>
			<mat-card-subtitle>Step 2</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<form (ngSubmit)="onSubmit();" [formGroup]="registerControl">
				<mat-form-field fxFill>
					<input type="text" matInput placeholder="First Name:" formControlName="firstName" />
				</mat-form-field>
				<mat-form-field fxFill>
					<input type="text" matInput placeholder="Last Name:" formControlName="lastName" />
				</mat-form-field>
				<div formGroupName="address">
					<p><strong>Address:</strong></p>
					<mat-form-field fxFill>
						<input type="text" matInput placeholder="City:" formControlName="city" />
					</mat-form-field>
					<mat-form-field fxFill>
						<input type="text" matInput placeholder="Street:" formControlName="street" />
					</mat-form-field>
					<mat-form-field fxFill>
						<input type="number" matInput placeholder="Building Number:" formControlName="buildingNumber" />
					</mat-form-field>
					<mat-form-field fxFill>
						<input type="number" matInput placeholder="Apartment Number:" formControlName="aptNumber" />
					</mat-form-field>
				</div>
				<button type="submit" mat-raised-button [disabled]="!registerControl.valid" fxFill>
					Register
				</button>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button type="button" mat-button routerLink="/login" fxFill>
				Or, Login Here
			</button>
		</mat-card-actions>
	</mat-card>
</div>
