<form>
	<mat-form-field id="product-search-bar">
		<input type="text" placeholder="Search products:"
			aria-label="Number" matInput
			[formControl]="productControl" [matAutocomplete]="auto"
			(click)="stopPropagation($event);" />
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let option of (filteredOption$ | async)" [value]="option">
				<img class="option-img" aria-hidden
					[src]="option.image || 'assets/images/default.jpg'"
					height="25">
				{{option.name}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form>
