<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
	<ng-container *ngIf="isLoggedIn; then shop else login;"></ng-container>
	<ng-template #shop>
		<button mat-raised-button routerLink="/shop" fxFlex>Start / Continue shopping!</button>
	</ng-template>
	<ng-template #login>
		<app-login fxFlexOrder="1" fxFlex></app-login>
	</ng-template>
	<mat-card fxFlexOrder="2" fxFlex>
		<mat-card-content>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales porta dictum. Suspendisse accumsan cursus urna et imperdiet. Maecenas eget mi ex. Mauris dapibus imperdiet felis, et consequat arcu luctus sed. Praesent rhoncus libero est, sit amet viverra orci lobortis in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut ex lectus, pharetra in imperdiet non, porta sed eros. Sed rutrum purus a ipsum mattis, pretium aliquet tellus vehicula. Vivamus et commodo nisi. Mauris eget malesuada sapien, sed venenatis felis.
		</mat-card-content>
	</mat-card>
	<mat-card fxFlexOrder="3" fxFlex>
		<img mat-card-image src="assets/images/main-image.jpg" />
		<mat-card-content>
			<p>Currently we have {{count}} products.</p>
		</mat-card-content>
	</mat-card>
</div>
