<ng-container *ngIf="isLoggedIn(); then userNav else guestNav;"></ng-container>

<ng-template #userNav>
	<mat-toolbar role="heading">
		<nav class="main-nav" fxLayout="row" fxHide.lt-sm="true"
			fxLayoutAlign="center center">
			<button mat-button routerLink=""><strong>Home</strong></button>
			<span class="spacer"></span>
			<app-product-search></app-product-search>
			<app-cart class="cart-icon-bar"></app-cart>
			<button mat-button (click)="logout();">Exit</button>
		</nav>

		<button mat-button [matMenuTriggerFor]="menu" fxHide.gt-xs="true">Menu</button>
		<mat-menu #menu="matMenu">
			<ng-template matMenuContent>
				<button mat-menu-item routerLink=""><strong>Home</strong></button>
				<app-product-search></app-product-search>
				<app-cart></app-cart>
				<button mat-menu-item (click)="logout();">Exit</button>
			</ng-template>
		</mat-menu>
	</mat-toolbar>
</ng-template>

<ng-template #guestNav>
	<mat-toolbar role="heading">
		<nav class="main-nav" fxLayout="row">
			<button mat-button routerLink=""><strong>Home</strong></button>
			<span class="spacer"></span>
		</nav>
	</mat-toolbar>
</ng-template>
