<mat-card>
	<mat-card-header>
		<mat-card-title>Login Here:</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form (ngSubmit)="onSubmit();" [formGroup]="loginControl">
			<mat-form-field fxFill>
				<input type="text" matInput placeholder="Username:" formControlName="username" />
			</mat-form-field>
			<mat-form-field fxFill>
				<input type="password" matInput placeholder="Password:" formControlName="password" />
			</mat-form-field>
			<button fxFill type="submit" mat-raised-button [disabled]="!loginControl.valid">
				Login
			</button>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button type="button" mat-button routerLink="/register" fxFill>
			Or, Signup Here
		</button>
	</mat-card-actions>
</mat-card>
