<ul fxLayout="row wrap" fxLayoutGap="10px" *ngIf="products; else loading;">
	<li *ngFor="let product of products;" style="padding:5px;" fxFlex="30%">
		<app-product [product]="product"></app-product>
	</li>
</ul>

<ng-template #loading>
	<p class="loading-p">Getting your products ready, just a second...</p>
	<mat-spinner class="loading-spin" [diameter]="15"></mat-spinner>
</ng-template>

<footer *ngIf="!isManager();">
	Please contact the store manager if you wish to add a product to the store.
</footer>
