<mat-tab-group *ngIf="categories; else loading">
	<mat-tab *ngFor="let category of categories; index as i" label="{{category.name}}">
		<ng-template matTabContent>
			<mat-accordion *ngIf="isManager();">
				<mat-expansion-panel>
					<mat-expansion-panel-header>
							<mat-panel-title>
								Edit categories
							</mat-panel-title>
							<mat-panel-description>
								Admin controls
							</mat-panel-description>
					</mat-expansion-panel-header>
					<ng-template matExpansionPanelContent>
						<form [formGroup]="newProductControl">
							<mat-form-field fxFill>
								<input matInput type="text" formControlName="name"
									placeholder="New product's name:" />
							</mat-form-field>
							<mat-form-field fxFill>
								<input matInput type="number" formControlName="price"
									placeholder="New product's price:" />
							</mat-form-field>
							<mat-form-field fxFill>
								<input matInput type="text" formControlName="image"
									placeholder="New product's image URL:" />
							</mat-form-field>
							<button mat-raised-button fxFill
								[disabled]="!newProductControl.valid"
								class="example-add-tab-button" color="primary"
								(click)="addProduct(newProductControl.value, category._id);">
								Add a new product
							</button>
						</form>
						<mat-action-row>
							<mat-form-field fxFill>
								<input matInput type="text" #newTabName placeholder="New tab name:" />
								<button mat-raised-button matSuffix
									[disabled]="!newTabName.value"
									class="example-add-tab-button" color="primary"
									(click)="addTab(newTabName.value);">
									Add a new category
								</button>
							</mat-form-field>
						</mat-action-row>
						<mat-action-row>
							<button mat-raised-button fxFill
								[disabled]="categories.length === 1" (click)="removeTab(category._id)"
								color="warn">
								Delete the current category
							</button>
						</mat-action-row>
					</ng-template>
				</mat-expansion-panel>
			</mat-accordion>
			<app-product-list [category]="category"></app-product-list>
		</ng-template>
	</mat-tab>
</mat-tab-group>

<ng-template #loading>
	<p class="loading-p">Un momento, por favor...</p>
	<mat-spinner class="loading-spin" [diameter]="15"></mat-spinner>
</ng-template>
