<form (ngSubmit)="onSubmit($event);" fxLayout="column" [formGroup]="productControl">
	<mat-form-field fxFill>
		<input type="number" matInput #amount placeholder="Amount:" formControlName="amount" />
	</mat-form-field>
	<mat-form-field fxFill>
		<input type="text" matInput disabled
			value="{{ amount.value * productControl.value.price | currency:'ILS' }}" />
	</mat-form-field>
	<button mat-raised-button type="submit" fxFill>Add to cart</button>
</form>
