<form (ngSubmit)="onSubmit($event);" fxLayout="column" [formGroup]="productControl">
	<mat-form-field fxFill>
		<input type="text" matInput placeholder="Product's name:" formControlName="name" />
	</mat-form-field>
	<mat-form-field fxFill>
		<input type="number" matInput placeholder="Product's price:" formControlName="price" />
	</mat-form-field>
	<mat-form-field fxFill>
		<input type="number" matInput placeholder="Product's image:" formControlName="image" />
	</mat-form-field>
	<button mat-raised-button type="submit" fxFill>Save changes</button>
</form>
<button mat-raised-button color="warn" (click)="deleteProd();" style="width:100%;">
	Delete
</button>
