<mat-card (click)="(isManager())? managerBottomSheet() : customerBottomSheet();">
	<mat-card-header>{{product.name}}</mat-card-header>
	<img mat-card-image src="{{product.image || 'assets/images/default.jpg'}}" />
	<mat-card-content>
		<p>Price: {{product.price | currency:'ILS'}}</p>
	</mat-card-content>
</mat-card>
